/rootfs/*
image_builder/build-*
addons/build

# ignore temporary symlinks to psl
kos/image_builder/einit/src/psl/use_klog.psl
kos/image_builder/einit/src/psl/rootfs.psl
image_builder/application/application*
